# Virtual environments
venv/
.env
.venv/
env/
data

# Data files (REQUIRED)
data/
*.csv
*.ipynb_checkpoints/


# Jupyter
.ipynb_checkpoints/
*.ipynb
!notebooks/*.ipynb


# Python
__pycache__/
*.py[cod]
*.so
.Python


# IDE
.vscode/
.idea/
*.swp
*.swo


# OS
.DS_Store
Thumbs.db
